{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load rules %}
{% load static %}
{% load url_replace %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<header>
    <h1>Static Table - {{ data_set_name }}</h1>
    <p>
    </p>
</header>
<section class="result">
    <table id="result">
        <thead>
            {% for item in data_headers %}
                <th>{{ item }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for instance in data_raw %}
            <tr>
                {% for field, value in instance.fields.items %}
                    {# <td>{{ field }}: {{ value }}</td> #}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
