{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load rules %}
{% load static %}
{% load url_replace %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
    {% compress js %}
    <script src="{% static "pretalx_view_as_raw_table/json2table.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<header>
    <h1>Raw Table View Plugin</h1>
    <p>
        This View is renderd with the data from the
        <a class="" href="https://docs.pretalx.org/en/latest/api/index.html">
            json api backend
        </a>.
        <noscript>
            this way it only comes to life when javascript is enabeld.
        </noscript>
        <details>
            <summary>used API</summary>
            <ul>
                {% for source in data_source %}
                <li>
                    <a href="{{ source.url }}"  target="_blank">{{ source.label }}</a>
                    (<a href="{{ source.doc }}" target="_blank">doc</a>)
                </li>
                {% endfor %}
            </ul>
        </details>
    </p>
</header>
<section class="config">
    <label>
        Data Source
        <select class="" name="data_source" id="data_source">
            {% for source in data_source %}
            <option
                value="{{ source.url }}"
                data-doc_url="{{ source.doc }}"
            >
                {{ source.label }}
            </option>
            {% endfor %}
        </select>
    </label>
    <br>
    <!--
    <label>
        Format
        <textarea name="format" rows="5" cols="30"></textarea>
    </label>
    -->
</section>
<section class="result">
    <table id="result">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</section>
{% endblock %}
